# Hello i am Kashif khan let's learn together

1.   Github   : https://github.com/Kashifletslearn/Day-05-30-Python
2.   Linkedin : https://www.linkedin.com/in/kashifkhank/
3.   Gmail    : kashifdocument11@gmail.com

#For suggestions and improvement Email me

## <u>Problem 1</u>

###  Measure of average

* Mode is defined as the value that appears most often in a set of data values. Mode corresponds to the most frequent value.
* You are given a list of numbers and you need to calculate the mode of this list

In [ ]:
# A list containing average daily temperature over 10 days
temperatures = [34, 40, 29, 33, 42, 40, 39, 34, 34,33 ]

In [ ]:
unique_temperatures = list(set(temperatures))

In [ ]:
print(unique_temperatures)

[33, 34, 39, 40, 42, 29]

In [ ]:
# Create an empty dictionary which will contain the unique temperatures as keys and their counts as values
temp_dict = {}

# First key
first_key = unique_temperatures[0]
temp_dict[first_key] = temperatures.count(first_key)

# Second key
second_key = unique_temperatures[1]
temp_dict[second_key] = temperatures.count(second_key)

# Third key
third_key = unique_temperatures[2]
temp_dict[third_key] = temperatures.count(third_key)

# Fourth key
fourth_key = unique_temperatures[3]
temp_dict[fourth_key] = temperatures.count(fourth_key)

# Fifth key
fifth_key = unique_temperatures[4]
temp_dict[fifth_key] = temperatures.count(fifth_key)

# Sixth key
sixth_key = unique_temperatures[5]
temp_dict[sixth_key] = temperatures.count(sixth_key)

In [ ]:
print(temp_dict)

{33: 2, 34: 3, 39: 1, 40: 2, 42: 1, 29: 1}

In [ ]:
#Storing the dictionary values in a list
temp_dict_frequencies = list(temp_dict.values())

# Finding the index of the most frequent temperature value
most_frequent_temp_index = temp_dict_frequencies.index(max(temp_dict_frequencies))

In [ ]:
temp_dict_frequencies

[2, 3, 1, 2, 1, 1]

In [ ]:
temp_dict_keys = list(temp_dict.keys())

mode_temp = temp_dict_keys[most_frequent_temp_index]

In [ ]:
print(mode_temp)

34

## <u>Problem 2 </u>

### Challenging the immutability of tuples

You are given a list of tuples. You need to replace the last element of the last tuple

# Expected output : Replace the last element 70 with 100
# output_list = [(10,20,30),(30,40,50),(50,60,100)]

In [ ]:
list_of_tuples = [(10,20,30),(30,40,50),(50,60,70)]

In [ ]:
last_element = list_of_tuples[-1][:-1] + (100,)   #EXPLINATION OF (100,) IS GIVEN IN NEXT CELL
output_list = list_of_tuples[:-1]
output_list.append(last_element)
print(output_list)

[(10, 20, 30), (30, 40, 50), (50, 60, 100)]

# EXPLINATION OF (100,)

In Python, when you put a comma after a value inside parentheses, it means you're making a tuple with just that one value. So, for example, (100,) is understood as a tuple with only one item, whereas (100) would be seen as just the number 100 by itself.